  /* body {
    background: linear-gradient(135deg, #f1f5f9, #0f172a);
    color: white;
  } */






  body {
    background: linear-gradient(135deg, #6387aa, #0f172a);
    color: white;
    margin: 0;
    font-family: Arial, sans-serif;
  }

